.course-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 99%;
}

.course-card {
    width: 30%;
    box-shadow: 1px 2px 20px -7px rgba(0,0,0,0.75);
    border-radius: 30px;
    margin-right: 1%;
    margin-bottom: 40px;
}

.course-card img {
    width: 100%;
}

.course-card .course-card-text {
    padding: 0 15px;
    margin: 0;
}
.course-card .course-card-text .course-card-text-header {
    font-weight: 700;
    margin-bottom: 0;
    height: 50px;
}

@media (min-width: 1280px) {
    .course-card .course-card-text .course-card-text-header {
        font-size: 28px;
    }
    .course-card .course-card-text .course-card-text-about >p{
        font-size: 26px;
        line-height: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .course-card .course-card-text .course-card-text-header {
        font-size: 24px;
    }
    .course-card .course-card-text .course-card-text-about >p{
        font-size: 22px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .course-cards {
        flex-direction: column;
    }
    .course-card {
        width: 60%;
        margin: 20px auto;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .course-card .course-card-text .course-card-text-header {
        font-size: 24px;
        height: auto;
    }
    .course-card .course-card-text .course-card-text-about >p{
        font-size: 22px;
        line-height: 20px;
    }
    .course-card-text-header {
        width: 70%;
    }
}

@media (max-width: 540px) {
    .course-card {
        width: 80%;
    }
    .course-card .course-card-text .course-card-text-header {
        height: auto;
    }
    .course-card-text-header {
        width: 90%;
    }
}